<!-- src/app/features/menu/menu/menu.component.html -->
<h2>Menu</h2>
<div>Debug length: {{ menu.length }}</div>

<ul *ngIf="menu.length > 0; else empty">
  <li *ngFor="let item of menu">
    {{ item.nome }} - {{ item.prezzo }}

    <button type="button" (click)="removeItem(item.id)" [disabled]="qty(item.id) === 0">
      -
    </button>

    <span style="padding: 0 8px;">
      {{ qty(item.id) }}
    </span>

    <button type="button" (click)="addItem(item.id)">
      +
    </button>
  </li>
</ul>


<ng-template #empty>
  <p>No items</p>
</ng-template>


<ng-template #empty>
  <p>No items</p>
</ng-template>

<h3>Create order</h3>

<div>
  <label>Delivery address</label>
  <input [value]="address" (input)="address = ($any($event.target).value)" />
</div>

<button (click)="submitOrder()">Send</button>
<p *ngIf="message" style="color: red">{{ message }}</p>
<p><a routerLink="/orders">View orders</a></p>
