<!-- src/app/features/menu/menu/menu.component.html -->
<h2>Menu</h2>
<div>Debug length: {{ menu.length }}</div>

<ul *ngIf="menu.length > 0; else empty">
  <li *ngFor="let item of menu">
    {{ item.nome }} - {{ item.prezzo }}
  </li>
</ul>

<ng-template #empty>
  <p>No items</p>
</ng-template>


<ng-template #empty>
  <p>No items</p>
</ng-template>

<h3>Create order</h3>

<div>
  <label>Delivery address</label>
  <input [value]="address" (input)="address = ($any($event.target).value)" />
</div>

<button (click)="submitOrder()">Send</button>

<p><a routerLink="/orders">View orders</a></p>
